@import './assets/global/variables.scss';

.header{
  width:100%;
  height:90;
  padding:36px;
  background-color:$pinkasfuck;
  align-items: center;
  justify-content:center;

  &__title{
    color:$black;
    font-size:18px;
    flex:1;
    align-items: center;
  }
}
